{% extends "_base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="container mt-5 pt-3">
        <section id="productDetails" class="pb-5">
            <div class="card mt-5 hoverable">
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                            <div class="carousel-inner text-center text-md-left" role="listbox">
                                <div class="carousel-item active">
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Product picture" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mr-3 text-center text-md-left">
                        <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4 mobile-center">
                            <strong>{{ product.name }}</strong>
                        </h2>
                        <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4 mobile-center">
                            <span class="font-weight-bold">
                                <strong>{{ product.price }} Ft</strong>
                            </span>
                        </h3>
                        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne1">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1" class="collapsed">
                                        <h5 class="mb-0">
                                            Leírás
                                            <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>
                                <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx" style="">
                                    <div class="card-body">
                                        {{ product.description.title }}
                                    </div>
                                </div>
                            </div>
                            <section class="color">
                                <div class="mt-5">
                                    <p class="">Mennyiség</p>
                                    <div class="row text-center text-md-left" style="display: block">
                                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                                            <div class="col-md-4 col-12 mobile-center">
                                                <div class="form-group">
                                                    {% csrf_token %}
                                                    <div class="def-number-input number-input safari_only">
                                                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus" ></button>
                                                        <input ID="quantity" class="quantity" min="1" max="20" name="quantity" value="1" type="number">
                                                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row mt-3 mb-4">
                                                <div class="col-md-12 text-center text-md-left text-md-right">
                                                    <button class="btn btn-primary btn-rounded waves-effect waves-light">
                                                        <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Kosárba</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- SCRIPTS -->



    <script type="text/javascript">
        /* WOW.js init */
        new WOW().init();

        // SideNav Button Initialization
        $(".button-collapse").sideNav();
        // SideNav Scrollbar Initialization
        var sideNavScrollbar = document.querySelector('.custom-scrollbar');
        Ps.initialize(sideNavScrollbar);

        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script><div class="drag-target" style="left: 0px;"></div>
    <script>
        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

    </script>

{% endblock %}



