<div class="container">
    <div class="row">
          <!-- Grid column -->
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <h3 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5">TÉRKÉP</h3>
                <div class="card-body" style="height: 380px; padding: 0px">
                    <iframe src="https://maps.google.com/maps?q=Lufitorony&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                            style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <h3 class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5">NYITVA TARTÁS</h3>
                <div class="card-body" style="text-align: center">
                    <p style="margin: 0px; font-size: 24px;">Hétfő - Péntek: </p>
                    <p class="font-weight-bold">09:00-17:00</p>
                    <p style="margin: 0px; font-size: 24px">Szombat:</p>
                    <p class="font-weight-bold">10:00-18:00</p>
                    <p style=" margin: 0px; font-size: 24px">Vasárnap:</p>
                    <p class="font-weight-bold">ZÁRVA</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="" id="cardwoshadow">
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v5.0"></script>
                <div class="fb-page"  style="display: flex; justify-content: center; background-color: #fefedb;" data-href="https://www.facebook.com/Lufitorony-492391834608486/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/Lufitorony-492391834608486/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/Lufitorony-492391834608486/">Lufitorony</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</div>