<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
        <a class="navbar-brand waves-effect" href="{% url 'home' %}">
            <strong class="blue-text">LUFITORONY</strong>
        </a>
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="smooth-scroll navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'home' %}">Kezdőlap
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="" >Termékek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#services_page" >Szolgáltatások</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#about_page">Rólunk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#contact_page">Kapcsolat</a>
                </li>
            </ul>
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect">
                        <span class="badge red z-depth-1 mr-1"> 1 </span>
                        <i class="fas fa-shopping-cart"></i>
                        <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/Lufitorony-492391834608486/" class="nav-link waves-effect" target="_blank">
                        <i class="fab fa-facebook-f fa-1x"  style="color: #4367B2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/lufitorony/" class="nav-link waves-effect" target="_blank">
                        <i class="fab fa-instagram fa-1x" style="color: #F77737"></i>
                    </a>
            </ul>
        </div>
    </div>
</nav>




