<div id="services_page" class="container my-5">
    <section>
        <h3 class="font-weight-bold text-center dark-grey-text pb-2">Szolgáltatásaink</h3>
        <hr class="w-header my-4">
        <p class="lead text-center text-muted pt-2 mb-5">Csatlakozz országszerte elégedett ügyfeleink közé. Válaljuk minden féle témájú rendezvény tervezését, díszítését.</p>

        <div class="row">
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card text-center bg-success text-white">
                    <div class="card-body">
                        <p class="mt-4 pt-2"><i class="fas fa-gift fa-4x"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Születésnap</a></h5>
                        <p class="mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card text-center text-white">
                    <div class="card-body" style="background-color: #b12a5b">
                        <p class="mt-4 pt-2"><i class="fas fa-venus-mars fa-4x"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Esküvő</a></h5>
                        <p class="mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card text-center deep-purple lighten-1 text-white">
                    <div class="card-body">
                        <p class="mt-4 pt-2"><i class="fas fa-glass-cheers fa-4x"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Party</a></h5>
                        <p class="mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="w-header my-4">
</div>